html, body {
    border: 1px solid red;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
}


.konvajs-content {
    border: 1px double rgb(255, 0, 149);
    margin: 15px;
    padding: 0;
}
