html, body {
    border: 1px solid red;
    height: 99%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    border: 1px solid beige;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.konvajs-content {
    border: 1px solid green;
}
